*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #DDA15E;
    text-align: center;
}

.container{
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.title-container h1{
    padding-top: 20px;
    margin-bottom: 15px ;
    color: #FEFAE0;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.8vmin;
    padding: 0;
    margin: 0;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 9px;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #BC6C25;
    background-color: #FEFAE0;
}


#reset-btn{
    height: 2.3rem;
    width: 19.5rem;
    font-size: 1.10rem;
    background-color: #BC6C25;
    color: #FEFAE0;
    border-radius: 0.5rem;
    border: none;
    margin-top: 15px;
}
#new-game{
    height: 2.3rem;
    width: 19.5rem;
    font-size: 1.10rem;
    background-color: #BC6C25;
    color: #FEFAE0;
    border-radius: 0.5rem;
    border: none;
    margin-top: 15px;

}

#msg{
    color: #FEFAE0;
    font-size: 8vmin;
}

.msg-container{
    height: 10min;
    margin-top: 20px;
}

.hide{
    display: none;
}

.hidden{
    display: block;
}