* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #bc6c25;
  background: linear-gradient(45deg, #dda15e, #f9dbbd, #bc6c25, #fefae0);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.title-container h1 {
  padding-top: 20px;
  margin-bottom: 15px;
  color: #fefae0;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.8vmin;
  padding: 0;
  margin: 0;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 9px;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #bc6c25;
  background-color: #fefae0;
}

#reset-btn {
  height: 7vmin;
  width: 55vmin;
  font-size: 1.1rem;
  background-color: #bc6c25;
  color: #fefae0;
  border-radius: 0.5rem;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

#new-game {
  height: 7vmin;
  width: 55vmin;
  font-size: 1.1rem;
  background-color: #bc6c25;
  color: #fefae0;
  border-radius: 0.5rem;
  border: none;
  margin-top: 15px;
}

#msg {
  color: #fefae0;
  font-size: 8vmin;
}

.msg-container {
  height: 10min;
  padding-top: 20px;
}

.hide {
  display: none;
}

.hidden {
  display: block;
}


@media (max-width: 412px) {
    #msg {
      color: #fefae0;
      font-size: 7vmin;
    }
  
    .msg-container {
      height: 10min;
      padding-top: 100px;
    }
  }
  